@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    
h2 {
    margin: 0 auto;
    font-size: 35px;
    margin: 10px;
}
    
    
.flex-container {
    /* In order to use flex-box we need to first set our display property */
    display: flex;
    /* center the container horizontally */
    justify-content: center;
    /* this will center content vertically */
    align-items: center;
    /* tells the container to align the children in columns rather than rows */
}

.flex-column {
    height: 100%;
    width: 50%;
    flex-direction: column;
    /* tells the container to drop down once it reaches max-width */
}

.flex-wrap {
    flex-wrap: wrap;
    height: 432px;
    width: 432px;
}
    
    
.square {
    border: 2px solid rgba(0, 0, 0, .75);
    height: 140px;
    width: 140px;
    font-size: 80px;
    font-family: "Bokor";
    display: flex;
    align-items: center;
    justify-content: center;
}
    
    
#reset-button {
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    height: 55px;
    width: 100px;
    margin: 10px;
}

::backdrop{
    background-color: rgba(93, 188, 251, 0.5);
}

#message{
    border-radius: 5%;
}

.left-text{
    text-align: left;
}
.left-text>*{
    margin: 10px;
}

.deco-bar{
    border: 1px blue solid;
}

#neverShow{
    border: none;
    background-color: white;
    font-family: cursive;
}
#neverShow:hover{
    text-shadow: 0px 0px 1px blue;
}